<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Chat App</title>
  </head>
  <body>
    <div class="flex flex-col sm:flex-row h-screen">
      <!-- Sidebar title and login -->
      <aside class="sticky top-0 sm:static sm:h-full bg-green-600 md:w-1/4 text-white p-2" id="sidebar">
        <h1 class="text-center text-xl border-b font-semibold py-2">Chat App</h1>
        <form id="login" class="my-2 hidden">
          <span class="block text-center font-semibold mb-2">SignIn</span>
          <input type="text" class="rounded-lg p-2 w-full text-slate-600 placeholder:text-slate-400" placeholder="Username" />
          <button class="rounded-lg p-2 w-full bg-slate-500 mt-2">Login</button>
        </form>

        <div id="user" class="mt-2 block flex justify-between items-center">
          <span>Username: <strong>Not Defined</strong></span>
          <button id="logout" class="rounded-lg py-2 px-3 bg-slate-500 mr-0 ml-auto">Logout </button>
        </div>

        <!-- list connected users -->
        <div id="connected">
          <h2 class="text-center text-xl border-b font-semibold mt-2 py-2">Connected Users</h2>
          <ul id="users" class="list-reset flex flex-col">
            <!-- <li class="flex justify-between py-2">
              <span class="leading-loose">Username: <strong>Not Defined</strong></span>
              <button class="rounded-lg p-2 bg-slate-500">Send Message</button>
            </li> -->
          </ul>
        </div>
      </aside>

      <!-- Chat -->
      <div class="col-span-3 flex flex-1 flex-col">
        <!-- container chat messages -->
        <div class="flex-1 p-2 overflow-y-scroll h-full max-h-min" id="chat-messages"></div>

        <!-- conteiner chat form -->
        <div
          class="sticky bottom-0 sm:static bg-white h-16 flex justify-center flex-col border-t border-slate-600"
        >
          <!-- form chat -->
          <form id="input-chat" class="flex items-center mx-2">
            <input
              id="input"
              type="text"
              placeholder="type message"
              class="flex-1 border border-slate-600 text-slate-600 rounded-lg mr-2 p-2"
            />
            <button class="py-2 px-5 bg-slate-400 rounded-lg text-white">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
